In [1]:
import pandas as pd
import numpy as np

# importing our dataset

In [59]:
data = pd.read_csv(r"C:\Users\modha\Desktop\dataset\train.csv")

replacing null values with zeros and infinite values with the max values float32 can store

In [60]:
data.replace([np.inf, -np.inf], np.finfo(np.float32).max, inplace=True)
data.fillna(0, inplace=True)

In [76]:
#data = data.fillna(0)

In [77]:
data.describe()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_5470,var_5471,var_5472,var_5473,var_5474,var_5475,var_5476,var_5477,var_5478,target
count,22876.000000,22876.000000,22876.000000,22876.000000,22876.000000,22876.0,22876.000000,22876.000000,14250.000000,15220.000000,...,2183.000000,12.000000,6487.000000,656.000000,1104.000000,1026.000000,789.000000,7.000000,2570.000000,25000.000000
mean,0.047580,0.000962,0.000393,0.000437,0.000262,0.0,0.003251,0.004022,0.072058,0.109653,...,0.020516,0.285714,0.010233,0.021596,0.014560,0.026578,0.048247,0.178571,0.012042,0.146840
std,0.073311,0.017310,0.013400,0.020904,0.013221,0.0,0.028457,0.035609,0.102805,0.012076,...,0.047998,0.355189,0.025074,0.062241,0.041933,0.062204,0.099965,0.374007,0.032418,0.353953
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.012048,0.106633,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.015625,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.018072,0.106633,...,0.000000,0.142857,0.004167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.062500,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.096386,0.107524,...,0.017857,0.464286,0.012500,0.033333,0.018519,0.038462,0.066667,0.125000,0.008621,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

Splitting our data to X and Y values where y is our result and X will be our input and we will be splitting our data to 80:20 and for testing purposes we went with 90:10 to see the behaviour of the in the signs for increasing our auc_roc score

In [61]:
import numpy as np
X = data.drop(['id','target'],axis=1)
y = data[['target']]

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [31]:
import os
os.environ['TF_GPU_ALLOCATOR'] = 'cuda_malloc_async'
print(os.getenv('TF_GPU_ALLOCATOR'))

cuda_malloc_async

import our test dataset and performing the same data cleaning process

In [71]:
test = pd.read_csv(r"C:\Users\modha\Desktop\dataset\test.csv")

In [72]:
id = test[['id']]

In [73]:
test = test.drop(['id'],axis = 1)

In [74]:
test.replace([np.inf, -np.inf], np.finfo(np.float32).max, inplace=True)
test.fillna(0, inplace=True)
#test[test==np.inf]=np.nan

In [85]:
#test = test.fillna(0)

In [75]:
test.head()

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_5469,var_5470,var_5471,var_5472,var_5473,var_5474,var_5475,var_5476,var_5477,var_5478
0,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,0.128426,...,0.0,0.035714,0.0,0.0125,0.0,0.0,0.0,0.0,0.0,0.0
1,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.018072,0.111644,...,0.0,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
2,0.015625,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.012048,0.106633,...,0.0,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0
4,0.046875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.106633,...,0.0,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0

# model building

In [87]:
from xgboost import XGBClassifier
from sklearn import metrics

setting a function to trail run multiple parameters for getting the best model

In [14]:
def objective(trial):
    from xgboost import XGBClassifier
    from sklearn import metrics
    param = {
        'max_depth': trial.suggest_int('max_depth', 2, 8),
        'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
        'n_estimators': trial.suggest_int('n_estimators', 1000, 10000, 100),
        'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
        'reg_alpha': trial.suggest_int('reg_alpha', 1, 50),
        'reg_lambda': trial.suggest_int('reg_lambda', 5, 100),
        'min_child_weight': trial.suggest_int('min_child_weight', 2, 30),
        "colsample_bytree": trial.suggest_float("colsample_bytree", 0.1, 1.0),
    }
   
    model = XGBClassifier(   tree_method='gpu_hist', 
                             gpu_id=0, 
                             predictor="gpu_predictor",
                             **param )  
    model.fit(X_train, y_train,eval_set=[(X_test,y_test)],verbose=False)
    preds = model.predict_proba(X_test)
    preds = pd.DataFrame(preds,columns=["0","predicted_probability"])
    preds = preds.drop(["0"],axis=1)
    score = metrics.roc_auc_score(y_test,preds)
    return score

for example purposes we have run it for 3 cycles but we can run for multiple time if we want to get more cases with higher roc values

In [15]:
import optuna

In [16]:
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=3)
#study.optimize(objective, n_trials=50)
print('Number of finished trials:', len(study.trials))
print('Best trial:', study.best_trial.params)

[I 2023-04-09 21:30:27,803] A new study created in memory with name: no-name-b372b310-4d20-4422-8fbf-db969460d29e
C:\Users\modha\AppData\Local\Temp\ipykernel_16912\4040317666.py:6: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
C:\Users\modha\AppData\Local\Temp\ipykernel_16912\4040317666.py:8: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
[I 2023-04-09 21:36:52,824] Trial 0 finished with value: 0.7261628285754799 and parameters: {'max_depth': 5, 'subsample': 0.65, 'n_estimators': 6600, 'eta': 0.03, 'reg_alpha': 14, 'reg_lambda': 42, 'min_child_weight': 25, 'colsample_bytree': 0.15395526087427394}. Best is trial 0 with value: 0.7261628285754799.
C:\Users\modha\AppData\Local\Temp\ipykernel_16912\4040317666.py:6: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
C:\Users\modha\AppData\Local\Temp\ipykernel_16912\4040317666.py:8: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
[I 2023-04-09 21:50:37,169] Trial 1 finished with value: 0.7266920112262092 and parameters: {'max_depth': 7, 'subsample': 0.75, 'n_estimators': 8200, 'eta': 0.02, 'reg_alpha': 10, 'reg_lambda': 67, 'min_child_weight': 2, 'colsample_bytree': 0.992475904745457}. Best is trial 1 with value: 0.7266920112262092.
C:\Users\modha\AppData\Local\Temp\ipykernel_16912\4040317666.py:6: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'subsample': trial.suggest_discrete_uniform('subsample', 0.6, 1.0, 0.05),
C:\Users\modha\AppData\Local\Temp\ipykernel_16912\4040317666.py:8: FutureWarning: suggest_discrete_uniform has been deprecated in v3.0.0. This feature will be removed in v6.0.0. See https://github.com/optuna/optuna/releases/tag/v3.0.0. Use :func:`~optuna.trial.Trial.suggest_float` instead.
  'eta': trial.suggest_discrete_uniform('eta', 0.01, 0.1, 0.01),
[I 2023-04-09 21:58:37,203] Trial 2 finished with value: 0.7261554832520238 and parameters: {'max_depth': 8, 'subsample': 0.6, 'n_estimators': 7300, 'eta': 0.02, 'reg_alpha': 19, 'reg_lambda': 15, 'min_child_weight': 6, 'colsample_bytree': 0.3003829329828242}. Best is trial 1 with value: 0.7266920112262092.

Number of finished trials: 3
Best trial: {'max_depth': 7, 'subsample': 0.75, 'n_estimators': 8200, 'eta': 0.02, 'reg_alpha': 10, 'reg_lambda': 67, 'min_child_weight': 2, 'colsample_bytree': 0.992475904745457}

# running the final model with the best parameters

In [76]:
from xgboost import XGBClassifier
from sklearn import metrics

model = XGBClassifier(       tree_method='gpu_hist', 
                             gpu_id=0, 
                             predictor="gpu_predictor",
                             max_depth = 5,
                             subsample = 0.7,
                             n_estimators = 4000,
                             eta = 0.01,
                             reg_alpha = 17,
                             reg_lambda = 90,
                             min_child_weight = 7,
                             colsample_bytree = 0.30734000939110795)  

model.fit(X, y,verbose=False)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=0.30734000939110795, early_stopping_rounds=None,
              enable_categorical=False, eta=0.01, eval_metric=None,
              feature_types=None, gamma=None, gpu_id=0, grow_policy=None,
              importance_type=None, interaction_constraints=None,
              learning_rate=None, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=5,
              max_leaves=None, min_child_weight=7, missing=nan,
              monotone_constraints=None, n_estimators=4000, n_jobs=None,
              num_parallel_tree=None, predictor='gpu_predictor', ...)

Generating predicted values and predicted probabilities at the same time

In [79]:
pred = model.predict(test)
pred = pd.DataFrame(pred,columns=["predicted"])

In [80]:
pred_proba = model.predict_proba(test)

In [81]:
pred_proba = pd.DataFrame(pred_proba,columns=["0","predicted_probability"])
pred_proba = pred_proba.drop(["0"],axis=1)
#score = metrics.roc_auc_score(y_test,pred_proba)
#score

In [41]:
predicted = pd.DataFrame(pred,columns=['predicted'])

In [42]:
pred_probability = pd.DataFrame(pred,columns=['predicted_probability'])

concating the data and also exporting into dataset to get the model evaluated for test purposes

In [85]:
df = pd.concat([id.reset_index(drop=True),pred.reset_index(drop=True),pred_proba.reset_index(drop=True)], axis=1)

In [86]:
df.head()

     id  predicted  predicted_probability
0  id_1          0               0.312545
1  id_2          0               0.074852
2  id_3          0               0.382056
3  id_4          0               0.151442
4  id_5          0               0.009001

In [88]:
df.to_csv("sample.csv", index =  false)